@import '../../../../../mixin';

.property-list {
  max-height: 220px;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% + 10px);
  padding: 5px 10px 5px 0;

  @include scroll-bar;
}

.property-add-button {
  @include property-add-button;
}
