@import './variables';

@mixin flow-item-mixin {
  background-color: #3b3b3b;
  border-radius: 5px 5px 3px 3px;
  user-select: none;
  border: 1px solid transparent;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: 0.3s transform, 0.3s border, 0.3s opacity;

  &:hover {
    transform: translate(-2px, -2px);
  }
}

@mixin flow-item-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;

  & > * {
    color: #d8d8d8;
    font-family: sans-serif;
    font-size: 13px;
    user-select: none;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
  }

  &::before {
    content: '';
    pointer-events: none;
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
    bottom: 3px;
    border-radius: 3px;
    display: block;
    opacity: 0.3;
    background-color: $other-point-color;
  }

  &.element::before {
    background-color: $element-point-color;
  }

  &.style::before {
    background-color: $style-point-color;
  }

  &.trigger::before {
    background-color: $trigger-point-color;
  }
}
