$viewer-width: 375px;
$editor-toolbar-width: 60px;
$editor-header-height: 48px;
$editor-tabs-height: 33px;

$element-point-color: #7b7be8;
$span-point-color: #a764db;

$style-point-color: #2e7d32;
$style-style-point-color: #8cb829;
$style-addStyle-point-color: #d3c355;

$trigger-point-color: #e36775;
$other-point-color: #dadada;
$note-point-color: #ffe980;
$function-point-color: #cd823d;
$trigger-function-point-color: $function-point-color;
$variable-point-color: #ffc95c;
