$viewer-width: 375px;
$editor-toolbar-width: 60px;
$editor-header-height: 48px;

$element-point-color: #7b7be8;
$span-point-color: #a764db;
$style-point-color: #2ec438;
$trigger-point-color: #e36775;
$other-point-color: #dadada;
$note-point-color: #ffe980;
