.canvas-wrap {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  position: relative;

  & > canvas {
    position: absolute;
    inset: 0;
  }
}

.flow-chart {
}

.connection-flow-chart {
  pointer-events: none;

  &.layer-top {
    z-index: 99999;
  }
}
