@import '../../../variables';

.chart-item {
  position: absolute;
  background-color: #3b3b3b;
  border-radius: 5px 5px 3px 3px;
  user-select: none;
  border: 1px solid transparent;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  transition: 0.3s transform, 0.3s border;

  &:hover {
    transform: translate(-2px, -2px);
  }

  &.selected {
    border: 1px solid $other-point-color;
    transform: scale(1.1);

    &.element {
      border: 1px solid $element-point-color;
    }

    &.style {
      border: 1px solid $style-point-color;
    }

    &.trigger {
      border: 1px solid $trigger-point-color;
    }
  }

  .delete-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    border: none;
    transform: translate(8px, -8px) scale(0);
    transition: 0.3s transform cubic-bezier(0.175, 1.885, 0.32, 1.275);
    visibility: hidden;
    gap: 10px;
    background-color: transparent;
    z-index: 3;

    i {
      cursor: pointer;
      font-size: 10px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      color: #ffffff;
      border: 1px solid #b8b8b8;
      background-color: rgb(37, 37, 38);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &:hover .delete-button,
  &.selected .delete-button {
    visibility: visible;
    transition-delay: 0.3s;
    transform: translate(8px, -8px) scale(1);
  }

  .item-point {
    position: absolute;
    height: 28px;
    left: 3px;
    right: 3px;
    top: 3px;
    border-radius: 3px;
    display: block;
    opacity: 0.3;
  }

  .item-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d8d8d8;
    font-family: sans-serif;
    font-size: 13px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
  }

  .point-list-wrap {
    display: flex;
    padding-bottom: 15px;

    .point-list {
      margin: 0;
      width: calc(50% - 20px);

      &.right {
        margin-left: auto;
        align-items: flex-end;

        li {
          justify-content: flex-end;

          .label {
            text-align: right;
          }
        }
      }

      li {
        margin: 0;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;

        &:first-child {
          margin-top: 0 !important;
        }

        .label {
          position: absolute;
          width: 100%;
          top: 0;
          transform: translateY(-50%);
          white-space: nowrap;
          font-size: 13px;
          color: #a1a1a1;
          overflow: hidden;
          text-overflow: ellipsis;

          &.left {
            left: 18px;
          }

          &.right {
            right: 18px;
          }
        }

        .dot {
          position: relative;
          display: block;
          transform: translateY(-50%);

          &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s width, 0.3s height;
            pointer-events: none;
            background-color: $other-point-color;
          }

          &:hover::before {
            width: 10px;
            height: 10px;
          }

          &.element-element::before {
            background-color: $element-point-color;
          }

          &.element-style::before,
          &.style-element::before,
          &.style-style::before {
            background-color: $style-point-color;
          }

          &.element-trigger::before,
          &.trigger-element::before {
            background-color: $trigger-point-color;
          }
        }
      }
    }
  }
}
