@import '../../codeFlowLab/mixin';

.select-container {
  position: relative;
  color: #9a9a9a;
  font-size: 13px;

  .selected-option {
    padding: 8px;
    position: relative;

    &:after {
      content: '\25BC';
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    &.active:after {
      content: '\25B2';
    }
  }

  .options-container {
    border-top: none;
    overflow-y: scroll;
    height: 100px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;

    /* Add these lines */
    background-color: #3c3c3c;

    @include scroll-bar;

    .option {
      padding: 8px;

      &:hover {
        background-color: #eee;
      }
    }
  }

  .search-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
}
