@import '../../../../mixin';

$label-height: 30px;

.variable-panel-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;

  .globals-variable-wrap {
    padding-bottom: 20px;

    &.is-open {
      height: 590px;
    }

    label {
      padding: 0 10px;
      font-family: sans-serif;
      font-size: 15px;
      font-weight: bold;
      color: #c5c5c5;
      height: $label-height;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    input[type='checkbox'] ~ ul {
      height: 0;
      overflow: hidden;
      padding: 0 15px;

      & > li {
        opacity: 0;
        visibility: hidden;
        transition: 0.3s opacity;

        & + li {
          margin-top: 15px;
        }
      }

      @for $i from 1 through 100 {
        & > li:nth-child(#{$i}) {
          transition-delay: 50ms * $i;
        }
      }
    }

    input[type='checkbox']:checked ~ ul {
      @include scroll-bar;

      height: calc(100% - $label-height);
      overflow: auto;

      & > li {
        visibility: visible;
        opacity: 1;
      }
    }

    input[type='checkbox'] + label > i:nth-child(1) {
      display: inline-block;
    }
    input[type='checkbox']:checked + label > i:nth-child(1) {
      display: none;
    }

    input[type='checkbox'] + label > i:nth-child(2) {
      display: none;
    }
    input[type='checkbox']:checked + label > i:nth-child(2) {
      display: inline-block;
    }
  }
}
