@import '../../../../../mixin';

.panel-item {
  @include flow-item-mixin;
  cursor: pointer;

  .panel-title {
    text-transform: capitalize;
    height: 30px;

    @include flow-item-header;

    span {
      color: #ffffff;
    }
  }

  .panel-desc {
    padding: 5px;
    background-color: #252525;

    .scene-list-title {
      margin-top: 15px;
      color: #c1c1c1;
      font-size: 15px;
      font-family: sans-serif;
      text-transform: capitalize;
      padding: 0 3px 3px;
      margin-bottom: 5px;
      border-bottom: 1px solid #3d3d3d;
    }

    .scene-list {
      padding-left: 25px;

      li {
        list-style: circle;
        font-size: 13px;
        color: #c1c1c1;
        font-family: sans-serif;
        text-transform: capitalize;
      }
    }
  }
}
